<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sequential Test Suite" >
    <!--<parameter name="properties" value="config.properties"/>-->
    <test name="Selenium Login Test">
        <classes>

        </classes>
    </test>
    <test name="Selenium Hover Test">
        <classes>

        </classes>
    </test>
    <test name="Selenium Tables Test">
        <classes>

        </classes>
    </test>
</suite>
