<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sequential Test Suite" >
    <!--<parameter name="properties" value="config.properties"/>-->
    <test name="Selenium Login Test">
        <classes>
            <class name="com.herokuapp.LoginTest"></class>
        </classes>
    </test>
</suite>
